body {
    font-family: 'Libre Baskerville', serif;
}

.container-fluid {
    padding: 0;
}
.position-sticky-header {
    position: -webkit-sticky!important;
    position: sticky!important;
    background: white;
    box-shadow: 0px 3px 9px rgb(0 0 0 / 10%);
    top: -38px;
    z-index: 2;
}
.font-inter {
    font-family: 'Inter', serif;
}

.text-white {
    text-decoration: none;
}

.fullpic {
    object-fit: cover;
    height: 100%;
}

.bg-brown {
    background: rgba(204, 159, 83, 0.25);
}

.header-top {
    padding: 0 162px;
}

.header-top .w-150 {
    width: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.header-middle .logo-img {
    /* width: 271px; */
    height: 91px;
}

.navbar-expand-lg .navbar-nav .nav-item {
    /* margin: 0 16px; */
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: black;
    font-family: Libre Baskerville;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.form-control {
    min-height: 40px;
    background: #F8F8F8;
    color: #999;
    font-size: 12px;
}

.form-control::placeholder {
    color: #D5D5D5;
}

@media screen and (max-width:980px) {
    .header-top {
        padding: 0 10%;
    }

    .header-top a.px-2,
    .header-top a.ps-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .header-top .w-150 {
        width: 40% !important;
        font-size: 20px;
    }
}

@media screen and (max-width:1574px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        /* font-size: 12px; */
        text-align: center;
    }

}

@media screen and (max-width:1200px) {
    .contact .body-middle {
        margin: 0 2% 5% !important;
        transition: margin 0.5s;
    }
}

footer h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
    margin: 0 20px 0 0px;
    padding: 15px 0px;
}

footer .btn.bg-white {
    font-size: 16px;
    line-height: 2;
}

footer ul li {
    margin: 8px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

figure.member {
    width: 100%;
    height: 500px;
}
figure {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

/* Zoom In #1 */
figure.member img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.card figure img,.teamMemberBox figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card figure:hover img ,.teamMemberBox figure:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
figure.member:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #CC9F53 !important;
}


.body-top .text-center {
    height: 335px;
    background: linear-gradient(180deg, rgba(27, 23, 23, 0) -17.29%, #54565A 104.96%);
}

.body-top .text-primary span {
    width: 32px;
    background-color: #CC9F53;
    height: 1px;
    display: block;
    margin: 0 10px;
}

.body-top h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
}

.body-top .text-center button {
    margin-top: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 16px;
}

.body-top .text-center h2 {

    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
}

footer * {
    color: #fff;
}

footer .bg-info {}

footer .bg-info .foot {
    padding: 69px 0 75px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: flex-start;
    /* margin: 0 auto; */
    gap: 0 3%;
    flex-wrap: wrap;
}

footer .bg-info .foot .foot-1 {
    max-width: 250px;
}

footer .bg-info .foot .foot-2 {
    display: flex;
    gap: 0 5%;
}

footer .bg-info .foot .foot-2 .f1 {
    min-width: 132px;
}

footer .bg-info .foot .foot-2 .f2 {
    min-width: 303px;
}

footer .bg-info .foot .foot-2 .f1 h5,
footer .bg-info .foot .foot-2 .f2 h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
}

footer .bg-info .foot .foot-2 .f1 ul,
footer .bg-info .foot .foot-2 .f2 ul {
    list-style: none;
    padding: 0;
}

footer .bg-info .foot .foot-2 .f1 ul li,
footer .bg-info .foot .foot-2 .f2 ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 22px 0;
}

footer .bg-info .foot .foot-3 {
    max-width: auto;
}

footer .bg-info .foot .foot-3 form {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

footer .bg-info .foot .foot-3 form input {
    min-width: 360px;
    height: 66.67px;
}

footer .bg-info .foot .foot-3 form button {
    padding: 22px 46px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.bg-light-dark {
    background: #EFEFEF !important;
}


.body-middle-2 .c4 p.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 15px 0;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    max-height: 100px;
}


@media screen and (min-width:992px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    footer .desktop .row {
        padding-bottom: 40px
    }
}

@media screen and (max-width:992px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile p {
        margin: 20px 0;
    }

    .body-middle {
        margin: 0 0 !important;
    }

    .mobile p,
    h5,
    button,
    input,
    textarea {
        font-size: 28px !important;
    }

    h4 {
        font-size: 32px !important;
        font-weight: 700;
    }

    h1 {
        font-size: 40px !important;

    }

    .mobile li,
    a,
    label {
        font-size: 24px !important;
        line-height: 48px;
    }

    span.text-primary {
        font-size: 28px !important;
    }

    .body-middle-2 h3 {
        font-weight: 700;
        font-size: 32px;
    }
    .aboutus.body-middle h3 {
        font-weight: 400;
        font-size: 30px;
        line-height: 52px;
        width: 80%;
        margin: 50px auto;
        color: #4D4D4D;
    }
    .border-center {
        border-bottom: 3px solid;
        border-image: linear-gradient(to right, #80808000 45%, #CC9F53 37%, #CC9F53 55%, #ff000000 50%, #ff000000 75%, #00808000 0) 3;
        line-height: 60px !important;
    }

    .border-center span {
        visibility: hidden;
    }

    .body-middle-2 .c4 {
        width: 100%;
        flex: 0 0 100%;
    }

    .body-middle-2 .c4 p.card-text {
        line-height: 42px !important;
        max-height: 180px !important;
    }

    .body-middle .card-title {
        line-height: 50px !important;
        font-size: 36px !important;
    }

    .body-middle p {
        font-weight: 400;
        font-size: 32px;
        line-height: 62px;
    }

    .body-middle p.card-text {
        line-height: 50px !important;
    }

    .page-link {
        padding: 0.375rem 1.75rem;
    }

    figure {
        height: 250px !important;
    }
    .teamMemberBox figure, figure.member{
        height: auto !important;
    }

    figure img {
        height: auto !important;
    }

    .logo-img {
        height: 150px !important;
        padding: 10px;
    }

    .header-middle {
        max-width: inherit !important;
    }

    .offcanvas {
        width: 60%;
    }

    .offcanvas .navbar-nav {
        margin-top: 100px;
    }

    .offcanvas a.nav-link {
        font-size: 42px !important;
        text-align: right !important;
        padding: 50px 0px;
        border-bottom: 1px solid;
        margin: 0 50px 0 20px;
    }

    .col-sm-12 {
        width: 100%;
        flex: 0 0 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .body-middle .box {
        max-width: none;
        height: 500px;
    }

    .body-middle .box img {
        height: 100px;
        width: auto;
    }

    .body-middle .box h2 {
        font-size: 36px;
    }

    .body-middle .box p {
        line-height: 58px;
    }

    .body-middle-2 .message span {
        font-size: 20px !important;
    }

    .container-fluid {
        padding: 0 !important;
    }

    .body-middle-2 .teamMemberBox .name {
        font-size: 38px !important;
        text-align: left !important;
    }

    .body-middle-2.mauto {
        margin: 50px 136px 0;
    }

    .teamMemberBox img {
        width: 100%;
        max-width: none !important;
        max-height: none !important;
        object-fit: contain;
    }

    small {
        font-size: 26px !important;
    }

    .pagination {
        align-items: center;
        justify-content: center;
    }

    .contact.body-top h2 {
        font-weight: 400 !important;
        font-size: 30px !important;
        line-height: 32px;
        width: 100%;
    }

    .font-inter {
        line-height: inherit;
    }
    .col-7 span{
        font-size: 24px;
    }
}