.body-top h1 {
    font-size: 40px !important;
}

.body-middle {
    padding-top: 42px;
    padding-bottom: 30px;
    background-color: #F8F8F8;
}

.body-middle p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}

.box-shadow {
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
}

h2.text-primary {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #b1976b;
}

.body-middle .text-primary span {
    width: 32px;
    background-color: #CC9F53;
    height: 1px;
    display: block;
    margin: 0 10px;
}

.body-middle-2 .tab-content {
    padding-top: 52px;
}

/* 
.body-middle-2 .tab-content .tab-pane.active p:first-child:first-letter {
    float: left;
    font-weight: 700;
    font-size: 3em;
    line-height: 1em;
    color: #a9a9a9;
    margin-right: 10px;
} */

.body-middle-2 .tab-content .tab-pane p {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #4A4A4A;
    width: 90%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #cc9f69;
    color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff;
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    margin-bottom: -2px;
}

.nav-tabs li.nav-item {
    width: 100%;
}

.nav-tabs .nav-item:nth-child(1) {
    border-top: 1px solid #cc9f69;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid #cc9f69;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    color: #cc9f69 !important;
    text-align: center;
    width: 100%;
    border-top: none;
}

.nav-tabs .nav-link {
    color: #4A4A4A;
}

.body-middle-2 .c4 {
    /* max-width: 376px;
    flex: 0 0 25%; */
}

.body-middle-2 .c4 .card-title {
    margin: 20px 0 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

@media screen and (max-width:1400px) {
    .body-middle-2 .c4 .card-title {
        font-size: 16px;
    }

    .body-middle-2 .c4 a.btn {
        font-size: 12px;
    }
}

.c4 .card-img-top {
    object-fit: cover;
}

.body-middle-2 .c4 p.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 15px 0;
    margin-bottom: 12px;
}

.body-middle-2 .c4 .card-body {
    padding-left: 37px;
}

.body-middle-2 .c4 a.btn {
    color: #0072BC;
    padding-left: 0;
}

.body-middle-2 .g-40 {
    gap: 36px auto;
    margin-bottom: 50px;
}

.menu-item a {
    color: #4c4c4c;
    text-decoration: none;
    cursor: pointer;
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-half {
    margin-left: 0;
    list-style: none
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-half li {
    float: left;
    width: 50%;
    margin-bottom: 8px
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-half li ul {
    list-style: none;
    margin-left: 18px;
    margin-top: 8px;
    margin-bottom: 0
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-half:after,
ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-half li ul:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-half li:nth-child(2n-1) {
    clear: left
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list {
    margin-left: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 500
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 13px 0;
    border-color: #e6e6e6;
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li a {
    display: inline-block;
    padding-left: 15px;
    border-left-width: 3px;
    border-color: #ddd;
    border-left-style: solid;
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li a:before {
    content: "\f178";
    font-family: "fontAwesome";
    padding-right: 12px;
    margin-left: -26px;
    opacity: 0;
    transition: opacity 200ms, margin-left 200ms;
    -moz-transition: opacity 200ms, margin-left 200ms;
    -o-transition: opacity 200ms, margin-left 200ms;
    -webkit-transition: opacity 200ms, margin-left 200ms
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li a:hover:before,
ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li.current-menu-item a:before,
ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li.current-menu-ancestor a:before {
    opacity: 1;
    margin-left: 0
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-plain {
    margin-left: 0;
    list-style: none
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-plain li {
    margin-bottom: 8px
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-box {
    list-style: none;
    margin-left: 0;
    font-weight: 600
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-box li a {
    display: block;
    background: #f3f3f3;
    margin-bottom: 2px;
    padding: 12px 22px
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-box li a:after {
    content: "\f105";
    font-family: fontAwesome;
    float: right
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-box2 {
    list-style: none;
    margin-left: 0;
    font-weight: 600
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-box2:after {
    content: " ";
    border-bottom-width: 5px;
    border-bottom-style: solid;
    display: block;
    margin-top: 28px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-box2 li a {
    display: block;
    background: #f3f3f3;
    margin-bottom: 4px;
    padding: 17px 22px 19px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-box2 li a:after {
    content: "\f178";
    font-family: fontAwesome;
    float: right
}

.gdlr-core-custom-menu-widget .gdlr-core-nav-side-text.gdlr-core-with-bg {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500
}

.gdlr-core-recent-comment-widget .gdlr-core-recent-comment-widget-item {
    padding-top: 22px;
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 23px
}

/* ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li:before {
    border-color: #ddd;
    color: #ddd;
} */

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li a:before {
    color: #b1976b;
}

ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li a:hover,
ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li.current-menu-item a,
ul.gdlr-core-custom-menu-widget.gdlr-core-menu-style-list li.current-menu-ancestor a {
    color: #b1976b;
    border-color: #b1976b;
}